body{
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

.relogio{
    border: 2px solid; /* borda continua*/
    height: 100vh; /* Altura,ocupar total a tela */
    display: flex; /* centralizar o conteudo no meio, lado a lado*/
    flex-direction: column; /* texto fica em coluna*/
    align-items: center;/* centralizar o conteudo em cima*/
    justify-content: center;/*centraliza no meio*/
}

.display{
background-color: #2c2e43;
width: 300px; /*Largura*/
height: 200px;/* Altura*/
text-align: center;/*Alinha texto no centro*/
line-height: 200px; /*Altura da linha*/
border-radius: 10px;/*Arredondar as bordas*/
color: #FFF;/*Cor do texto*/
font-size: 7rem; /*Tamnho da fonte */
font-family: 'Qahiri', sans-serif;
border: 10px solid #ffd523;
}

footer{
    font-size: 2rem;
    margin-top: 10px;/*distanciar do topo*/
    font-family: 'Barlow Condensed', sans-serif;

}